body{
    margin: 0;
    background-color: oklch(0.278 0.033 256.848);
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    font-family: "Press Start 2P", cursive;
    color: rgb(250, 198, 80);
    background-color: rgb(17, 23, 32);
    margin-top: 0;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 0;
}

#gamebody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#choice{
    color: rgb(238, 238, 238);
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
}

#comments{
    color: rgb(238, 238, 238);
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.scores{
    display: flex;
    align-items: center;
    text-align: center;
    gap:80px;
    font-family: 'Roboto',sans-serif;
    color:rgb(238, 238, 238);
    margin-left: 559.6px;
    margin-right: 559.6px;
    padding: 10px;
}

#humanChoice{
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#computerChoice{
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#humanScore{
    font-size: 22px;
    font-weight: 700;
}

#computerScore{
    font-size: 22px;
    font-weight: 700;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btn{
    background-color: rgb(57, 62, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 400;
    height: 160px;
    width: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: transparent;
    margin-bottom: 10px;
    transition: background-color 0.1s ease;
}

.btn:active {
    background-color: rgb(77, 82, 90);
    transform: scale(0.95);
}

.footer{
    background-color: rgb(17, 23, 32);;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#link{
    color: white;
    text-decoration: none;
}